.about-wrapper {
  padding: 100px;
  line-height: 1.4;
  width: 100%;
  min-height: 100vh;
}

.section-about {
  margin-bottom: 30px;
}

.section-about h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  border-bottom: 1px solid #aaa;
  color: #aaa;
}

.section-about p {
  text-align: justify;
  margin-bottom: 10px;
}

@media(max-width: 480px){
  .about-wrapper {
    padding: 60px 20px;
  }
}