.contact-form {
  background-color: rgba(255,255,255,.9);
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contact-header {
  text-transform: uppercase;
  margin: 20px auto;
}

.form-label {
  padding: 20px;
  width: 100%;
}

.form-label span {
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 1.6rem;
}

.form-label input {
  width: 50%;
  transform: translateX( 50%);
  padding: 10px;
}

.form-label textarea {
  width: 50%;
  transform: translateX( 50%);
  padding: 10px;
  min-height: 100px;
}

.submit-btn {
  width: 50%;
  margin-top: 30px;
  background-color: #2c2cb8;
  border: none;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:active {
  transform: scale(.9);
}

.show-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  aspect-ratio: 1/1;
  font-size: 1.5rem;
  border: none;
  border-radius: 2px;
}