@import url('https://fonts.googleapis.com/css2?family=Arima&display=swap');

.navigation {
 background: transparent;
 z-index: 1000;
 position: fixed;
 top: 0;
 width: 100vw;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10px;
}

.company-name {
  font-family: 'Arima', cursive;
  color: #000;
  text-transform: capitalize;
  font-size: 2rem;
}

.nav-links a{
  color: #000;
  text-transform: uppercase;
  margin-top: 30px;
  display: block;
}

.nav-links a.active {
  color: #f80;
}

.navigation-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hamburger {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  aspect-ratio: 1/1;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.hamburger span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #000;
  border-radius: 4px;
  transition: .5s;
}

.hamburger span:nth-child(1) {
  transform: translateY(-10px);
}

.hamburger span:nth-child(2) {
  transform: translateY(10px);
}

/* cross class */
.hamburger.cross span:nth-child(1) {
  transform: rotate(45deg);
}

.hamburger.cross span:nth-child(2) {
  transform: rotate(315deg);
}

.hamburger.cross span:nth-child(3) {
  display: none;
}


@media(max-width: 480px){
  .hamburger {
    display: flex;
  }

  .company-name {
    font-size: 1.5rem;
  }

  .nav-links {
    display: none;
  }

  .nav-links.cross {
    display: block;
  }

  .nav-links a {
    display: block;
    margin-top: 10px;
    font-size: 2rem;
    color: #000;
    text-shadow: 1px 1px 3px #fff;
  }

  .navigation {
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation-wrapper {
    width: 100vw;
    height: 100vh;
  }
}